In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('/Users/marcusarocha/Downloads/World Important Dates.csv')

In [43]:
df.head()

,Sl. No,Name of Incident,Date,Month,Year,Country,Type of Event,Place Name,Impact,Affected Population,Important Person/Group Responsible,Outcome
0,1,Indus Valley Civilization Flourishes,Unknown,Unknown,2600 BC,India,Civilization,Indus Valley,Development of one of the world's earliest urb...,Local inhabitants,Indus Valley people,Positive
1,2,Battle of the Ten Kings,Unknown,Unknown,1400 BC,India,Battle,Punjab,Rigvedic tribes consolidated their control ove...,Rigvedic tribes,Sudas,Positive
2,6,Establishment of the Delhi Sultanate,Unknown,Unknown,1206,India,Political,Delhi,Muslim rule established in parts of India,People of Delhi and surrounding regions,QutbUnknownudUnknowndin Aibak,Mixed
3,7,Battle of Panipat,21,April,1526,India,Battle,Panipat,Foundation of the Mughal Empire in India,Northern Indian kingdoms,Babur,Mixed
4,8,Establishment of British Raj,1,May,1858,India,Colonial,Whole India,Start of direct British governance in India,Indian subcontinent,British East India Company/Empire,Negative

In [44]:
df = df.drop(["Outcome", "Important Person/Group Responsible", "Affected Population", "Place Name"], axis=1)
df_filtered = df[df["Date"] != "Unknown"]

In [45]:
df_filtered.head()

,Sl. No,Name of Incident,Date,Month,Year,Country,Type of Event,Impact
3,7,Battle of Panipat,21,April,1526,India,Battle,Foundation of the Mughal Empire in India
4,8,Establishment of British Raj,1,May,1858,India,Colonial,Start of direct British governance in India
5,9,Partition of India,15,August,1947,India,Partition,Creation of India and Pakistan; massive popula...
6,10,IndoUnknownPakistani War of 1971,3,December,1971,India,War,Led to the independence of Bangladesh
7,11,PokhranUnknownII Nuclear Tests,11,May,1998,India,Nuclear Test,India declared itself a nuclear state

In [46]:
random_row = df_filtered.sample(n=1)
random_row

,Sl. No,Name of Incident,Date,Month,Year,Country,Type of Event,Impact
942,998,Independence from Britain,27,April,1961,Sierra Leone,Independence,Transition to sovereignty after British rule.